In [1]:
x = {}

In [3]:
type(x)  # as we see this is a set the {}  use for also dictionaries but 
#in dict. we have key and values thats the difference

dict

In [1]:
x = {"first_name" :"khan","last_name":"shayan"}

In [2]:
x

{'first_name': 'khan', 'last_name': 'shayan'}

In [10]:
b = {"first_name" :"khan","last_name":"shayan","first_name" :"khan"}

In [11]:
b # dictionary will not show u duplicates

{'first_name': 'khan', 'last_name': 'shayan'}

In [12]:
b = {"first_name" :"khan","last_name":"shayan","first_name" :"ball"}

In [14]:
b# so only the last key which we give of duplicate will be shown

{'first_name': 'ball', 'last_name': 'shayan'}

In [20]:
b = {"first_name" :"khan","last_name":"shayan","first_name":["khan"]}

In [22]:
b# here i can save value as a list set or tuples in it also

{'first_name': ['khan'], 'last_name': 'shayan'}

In [32]:
x2 = {"name" :{"khan"},"last_name":"shayan","first_name":["apple"]}

In [33]:
x2# we can also creat dic in dictionary as a value

{'name': {'khan'}, 'last_name': 'shayan', 'first_name': ['apple']}

In [34]:
x3 = {("name") :{"khan"},"last_name":"shayan","first_name":["apple"]}

In [36]:
x3#key wise only tuple u can store not set not list

{'name': {'khan'}, 'last_name': 'shayan', 'first_name': ['apple']}

### data access

In [37]:
x3 = {"name" :{"khan"},"last_name":"shayan","first_name":"apple"}
x3["name"]

{'khan'}

In [39]:
x3 = {"name" :{"khan"},"last_name":"shayan","first_name":"apple"}
x3["last_name"]
#pass keys and you will get values

'shayan'

In [65]:
x3 = {"name" :"khan","last_name":"shayan","first_name":"apple","number":[1,2,3,4]}

x3

{'name': 'khan',
 'last_name': 'shayan',
 'first_name': 'apple',
 'number': [1, 2, 3, 4]}

In [58]:
#now get 3 in that key name number

In [61]:
x3['number'][2]

3

{'name': {'khan'},
 'last_name': 'shayan',
 'first_name': 'apple',
 'number': '[1,2,3,4]'}

In [72]:
a = {"name":{"age":[20,30,555]},"adress":"NY"}

In [73]:
a

{'name': {'age': [20, 30, 555]}, 'adress': 'NY'}

In [74]:
a["name"]["age"][0]

20

In [75]:
x1 = {"name":"age","school":"xyz"}

In [76]:
x2={"age":34}

In [80]:
x1 + x2   # so we observe we can not do + operation as we do in list

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [81]:
x1 * 2 # we can not do multipilcation operation as we do in list

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

### changing value

In [83]:
x2 #replacing value with name

{'age': 34}

In [84]:
x2["age"]="muhammad"

In [85]:
x2

{'age': 'muhammad'}

+ done

In [96]:
c1 = {"name":[23,44,66],"first_name":"khan"}

In [97]:
c1["name"]=33

In [98]:
c1

{'name': 33, 'first_name': 'khan'}

In [99]:
c1["name"] -= 20

In [100]:
c1

{'name': 13, 'first_name': 'khan'}

+ builtin functions

In [101]:
c1.keys()

dict_keys(['name', 'first_name'])

In [103]:
"name" in c1.keys()

True

+ printintg all keys

In [104]:
for i in c1:
    print(i)

name
first_name

+ getting all the values

In [108]:
for i in c1.keys():
    print(c1[i])

13
khan

+ getting all keys

In [111]:
c1.keys()

dict_keys(['name', 'first_name'])

+ getting all types keys

In [114]:
for i in c1.keys():
    print(type(c1[i]))

<class 'int'>
<class 'str'>

+ getting list of tuple of all keys n values

In [115]:
c1.items()

dict_items([('name', 13), ('first_name', 'khan')])

In [116]:
# task: print all the keys

In [119]:
for i in c1.items():
    print(i[0]) #it will return all keys

name
first_name

In [121]:
v1= {(2345,34,34):"khan"}

In [122]:
v1

{(2345, 34, 34): 'khan'}

In [124]:
v1[(2345,34,34)]

'khan'

In [125]:
len(v1)

1

In [202]:
#### problem statments
#take input as paragprah by using input funtion
#caonvert all of this input into list
# remove all the duplicate element from list
# use above different element as a key for dic and assign "khan"as values
#your name as using  all key for dictionary
#try to print tuple of all them

In [181]:
paragraph= input("enter paragraph")

enter paragraph'Python is a popular programming language that can help you with everything from process automation through to data visualization. A huge 69% of machine learning a a a a developers and data scientists now use it

In [182]:
list = paragraph.split(" ")

In [183]:
list

["'Python",
 'is',
 'a',
 'popular',
 'programming',
 'language',
 'that',
 'can',
 'help',
 'you',
 'with',
 'everything',
 'from',
 'process',
 'automation',
 'through',
 'to',
 'data',
 'visualization.',
 'A',
 'huge',
 '69%',
 'of',
 'machine',
 'learning',
 'a',
 'a',
 'a',
 'a',
 'developers',
 'and',
 'data',
 'scientists',
 'now',
 'use',
 'it']

In [184]:
s1 = set(list)

In [186]:
s1

{"'Python",
 '69%',
 'A',
 'a',
 'and',
 'automation',
 'can',
 'data',
 'developers',
 'everything',
 'from',
 'help',
 'huge',
 'is',
 'it',
 'language',
 'learning',
 'machine',
 'now',
 'of',
 'popular',
 'process',
 'programming',
 'scientists',
 'that',
 'through',
 'to',
 'use',
 'visualization.',
 'with',
 'you'}

In [190]:
dic= dict.fromkeys(s1,"khan")

In [191]:
dic

{'through': 'khan',
 'data': 'khan',
 'scientists': 'khan',
 'that': 'khan',
 'to': 'khan',
 'learning': 'khan',
 'process': 'khan',
 'developers': 'khan',
 'everything': 'khan',
 'it': 'khan',
 'automation': 'khan',
 'huge': 'khan',
 'popular': 'khan',
 'visualization.': 'khan',
 'a': 'khan',
 'and': 'khan',
 'machine': 'khan',
 'of': 'khan',
 'with': 'khan',
 'help': 'khan',
 'you': 'khan',
 '69%': 'khan',
 'is': 'khan',
 'A': 'khan',
 'programming': 'khan',
 "'Python": 'khan',
 'from': 'khan',
 'now': 'khan',
 'can': 'khan',
 'language': 'khan',
 'use': 'khan'}

In [193]:
t1 = tuple(dic.keys())

In [194]:
t1

('through',
 'data',
 'scientists',
 'that',
 'to',
 'learning',
 'process',
 'developers',
 'everything',
 'it',
 'automation',
 'huge',
 'popular',
 'visualization.',
 'a',
 'and',
 'machine',
 'of',
 'with',
 'help',
 'you',
 '69%',
 'is',
 'A',
 'programming',
 "'Python",
 'from',
 'now',
 'can',
 'language',
 'use')

In [197]:
l2=[t1]

In [198]:
l2

[('through',
  'data',
  'scientists',
  'that',
  'to',
  'learning',
  'process',
  'developers',
  'everything',
  'it',
  'automation',
  'huge',
  'popular',
  'visualization.',
  'a',
  'and',
  'machine',
  'of',
  'with',
  'help',
  'you',
  '69%',
  'is',
  'A',
  'programming',
  "'Python",
  'from',
  'now',
  'can',
  'language',
  'use')]

In [213]:
d = {"khan":"shayan","course":"full stack data science","year":2021}

In [214]:
for i in d:
    print("print a key :"  ,i,"value :",d[i])

print a key : khan value : shayan
print a key : course value : full stack data science
print a key : year value : 2021

In [218]:
"course" in d

True

In [219]:
#to check weather if year is greater or equal to 2022 if yes then update

In [220]:
for i in d:
    if i == "year":
        if d[i]>2021:
            print("year is fine")
        else:
            d[i] = 2022

year is fine

In [221]:
d

{'khan': 'shayan', 'course': 'full stack data science', 'year': 2022}

In [222]:
my_dict= {}

In [223]:
for i in range(10):
    my_dict[i]= i*i

In [224]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [226]:
#comphrehension operation
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}